<!DOCTYPE html>
<html>
<head>
    <title>List of Employees</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/adminDashboard-styles.css">
</head>
<body>

    <nav>
        <ul class="navbar">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a id="addEmployee">Add Employee</a></li>
            <li><a id="logoutButton">Logout</a></li>
        </ul>
    </nav>

    <h1>List of Employees</h1>
    <div id="employeeList"></div>
    <script src="/public/scripts/adminDashboard-script.js"></script>
</body>
</html>
