<!DOCTYPE html>
<html>
<head>
    <title>Pending Reviews Assigned to User</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/pendingReviews-styles.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="/employee/dashboard">Dashboard</a></li>
            <li><a id="logoutButton">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Pending Reviews Assigned to You</h1>
        <% pendingReviews.forEach(function(review) { %>
            <div class="card">
                <div class="card-content">
                    <strong>Email:</strong> <%= review.revieweeEmail %><br>
                    <strong>Review Title:</strong> <%= review.title %><br>
                    <strong>Status:</strong> <%= review.status %><br>
                </div>
                <form action="/employee/reviews/submit/<%= review.id %>" method="POST">
                    <label for="feedback">Feedback:</label>
                    <textarea id="feedback" name="feedback" required></textarea><br>
                    <input type="submit" value="Submit Feedback">
                </form>
            </div>
        <% }); %>
    </div>
    <a  href="/employee/dashboard" class="back-link">Back to Home</a>

    <script>
        // Handle logout
        document.getElementById('logoutButton').addEventListener('click', () => {
            localStorage.removeItem('token'); // Remove token from localStorage
            window.location.href = '/employee/login'; // Redirect to the login page
        });
    </script>

</body>
</html>
