<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/userDashboard-styles.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="/employee/dashboard">Dashboard</a></li>
            <li><a id="logoutButton">Logout</a></li>
        </ul>
    </nav>
    <h1>User Dashboard</h1>
    <div class="card-container-user-dashboard">
        <div class="card-user-dashboard">
            <img src="/public/images/employee.jpg" alt="View All Reviews">
            <h2>All Reviews</h2>
            <a href="#" id="viewAllReviews">View</a>
        </div>
        <div class="card-user-dashboard">
            <img src="/public/images/employee.jpg" alt="View Pending Reviews">
            <h2>Pending Reviews</h2>
            <a href="#" id="viewPendingReviews">View</a>
        </div>
    </div>

    <script src="/public/scripts/userDashboard-script.js"></script>

</body>
</html>
