/* Reset default styles */
body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.card-list {
    list-style: none;
}

.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
}

.back-link:hover {
    text-decoration: underline;
}

#logoutButton:hover {
    cursor: pointer;
}

/* Style the navigation bar */
.navbar {
    margin-top: 0;
    background-color: #333;
    list-style-type: none;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}